.advantages {
    padding: 48px 0 45px;
}

.advantages__title {
    font-size: 20px;
    line-height: 1.4;
}

.advantages__grid {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
}

.advantages__item-title {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.4;
}

.advantages__item-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}