/*nav section*/
.nav {
    background-color: var(--light-gray);
}

.nav__items {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 16px 24px;

    scroll-padding-left: 24px;

    scroll-snap-type: x mandatory;
}

.nav__items::-webkit-scrollbar {
    display: none;
}

.nav__items {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.nav__item {
    font-size: 16px;
    color: var(--text-muted);

    scroll-snap-align: start;
}


/*annons section*/

.about-hero {
    padding: 32px 0;
}

.about-hero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-hero__title {
    font-size: 32px;
    line-height: 1.4;
}

.about-hero__btn {
    width: 100%;
}



/*idea section */

.idea {
    padding: 38px 0 32px;
}

.idea__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.idea__info {
    padding: 36px 32px 30px;
    background-color: var(--dark-primary);
    color: var(--white);
}

.idea__title {
    font-size: 20px;
    line-height: 1.4;
}

.idea__text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.idea__btn {
    margin-top: 56px;
    width: 100%;
}

.idea__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}



/*service section*/

.service {
    background-color: var(--light-gray);
}

.service__content {
    display: flex;
    flex-direction: column;

}

.service__image {
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
}

.service__image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.service__info {}

.service__title {
    margin-top: 48px;
    font-size: 20px;
    line-height: 1.4;
}

.service__text {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--deep-indigo);
}

.service__text-item {
    font-size: 14px;
    line-height: 1.5;
}

.service__btn {
    margin: 48px 0 62px;
    width: 100%;
}