.cart {
    background-color: var(--light-gray);
    padding: 36px 0 48px;
}

.cart__title {
    font-size: 24px;
    line-height: 1.4;
}

.cart__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.cart-item {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 22px;
}

.cart-item__title {
    font-size: 16px;
    line-height: 1.4;
}

.cart-item__title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

.cart-item__remove-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--text-muted);
    cursor: pointer;
    padding: 0 4px;
    transition: var(--transition);
}

.cart-item__remove-btn:hover {
    color: var(--text-dark);
}

.cart-item__description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-item__price {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.cart-item__counter {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    width: 122px;
    height: 38px;
    margin-top: 12px;
}

.cart-item__counter-btn {
    flex: 1;
    height: 100%;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--text-muted);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.cart-item__counter-btn:hover {
    color: var(--text-dark);
}

.cart-item__counter-value {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: var(--text-dark);
}

.line {
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 16px;
}


.cart__total-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: end;
    align-items: center;
}

.cart__total-lable {
    font-size: 20px;
    line-height: 1.4;
}

.cart__total-value {
    font-size: 24px;
    line-height: 1.4;
    font-family: var(--font-headings);
}

.cart__info {
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.5;
    text-align: end;
}

.cart__button {
    margin-top: 36px;
    width: 100%;
}