/*hero section*/

.hero {
    background-color: var(--dark-primary);
    padding: 40px 0 24px;
}

.hero__content {
    color: var(--white);
}

.hero__title {
    font-size: 32px;
    line-height: 1.4;
}

.hero__text {
    margin-top: 80px;
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    height: 56px;
    font-size: 16px;
    background-color: var(--light-gray);
    color: var(--dark-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.hero__btn {
    margin-top: 32px;
    width: 100%;
}

@media (hover: hover) {
    .btn:hover {
        background-color: var(--text-muted);
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn--blue {
    background-color: var(--btn-blue);
    color: var(--white);
}

.hero__image {
    display: none;
}



/*advantages section*/

.advantages {
    padding: 48px 0 45px;
}

.advantages__title {
    font-size: 20px;
    line-height: 1.4;
}

.advantages__grid {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
}

.advantages__item-title {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.4;
}

.advantages__item-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}



/*home-decoration section*/

.home-decoration {
    padding: 48px 0 38px;
    background-color: var(--light-gray);
}

.home-decoration__title {
    font-size: 20px;
}

.home-decoration__list {
    margin: 19px 0 29px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 20px;
}

.home-decoration__btn {
    margin-top: 29px;
    width: 100%;
}

.error {
    color: red;
}



/* popular-products section */

.popular-products {
    margin: 48px 0 38px;
    font-size: 20px;
}

.popular-products__title {
    font-size: 20px;
}

.popular-products__slider {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    padding: 0 24px 10px;

    scroll-padding-left: 24px;
}

.popular-products__slider::-webkit-scrollbar {
    display: none;
}

.popular-product__item {
    flex: 0 0 200px;
    scroll-snap-align: start;
}

.popular-prodcts__btn {
    margin-top: 32px;
    width: 100%;
}