/*hero section*/

.hero {
    background-color: var(--dark-primary);
    padding: 40px 0 24px;
}

.hero__content {
    color: var(--white);
}

.hero__title {
    font-size: 32px;
    line-height: 1.4;
}

.hero__text {
    margin-top: 80px;
    font-size: 18px;
    line-height: 1.5;
}

.hero__btn {
    margin-top: 32px;
    width: 100%;
}

.hero__image {
    display: none;
}



/*advantages section*/

.advantages {
    padding: 48px 0 45px;
}

.advantages__title {
    font-size: 20px;
    line-height: 1.4;
}

.advantages__grid {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
}

.advantages__item-title {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.4;
}

.advantages__item-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}



/*home-decoration section*/

.home-decoration {
    padding: 48px 0 38px;
    background-color: var(--light-gray);
}

.home-decoration__title {
    font-size: 20px;
}

.home-decoration__list {
    margin: 19px 0 29px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 20px;
}

.home-decoration__btn {
    margin-top: 29px;
    width: 100%;
}

.error {
    color: red;
}



/* popular-products section */

.popular-products {
    margin: 48px 0 38px;
    font-size: 20px;
}

.popular-products__title {
    font-size: 20px;
}

.popular-products__slider {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    padding: 0 24px 10px;

    scroll-padding-left: 24px;
}

.popular-products__slider::-webkit-scrollbar {
    display: none;
}

.popular-product__item {
    flex: 0 0 200px;
    scroll-snap-align: start;
}

.popular-prodcts__btn {
    margin-top: 32px;
    width: 100%;
}



/* benefits section */

.benefits {
    padding: 48px 0 38px;
    background-color: var(--light-gray);
}

.benefits__title {
    font-size: 20px;
    line-height: 1.4;
}

.benefits__text {
    margin: 16px 0 64px;
    font-size: 14px;
    line-height: 1.5;
}



/* global-brand section */

.global-brand {
    padding-top: 48px;
}

.global-brand__row {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.global-brand__content {
    padding: 0 24px;
}

.global-brand__title {
    font-size: 20px;
    line-height: 1.4;
}

.global-brand__advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 64px;
}

.global-brand__text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.global-brand__btn {
    width: 100%;
}

.global-brand__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}