.product-detail {
    margin-top: 20px;
}

.product-detail__content {
    display: flex;
    flex-direction: column;
}

.product-detail__image {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -24px;
    margin-right: -24px;

    width: calc(100% + 48px);
    background-color: var(--light-gray);
}

.product-detail__image img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    display: block;
}

.product-detail__title {
    margin-top: 28px;
    font-size: 24px;
    line-height: 1.4;
}

.product-detail__price {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.4;
}

.product-detail__subtitle {
    margin-top: 28px;
    font-size: 16px;
    line-height: 1.4;

    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 16px;
}

.product-detail__description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.product-detail__dimension {
    margin-top: 28px;
    font-size: 16px;
    line-height: 1.4;
}

.product-detail__dimensions {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
}

.product-detail__dimensions-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;

    padding: 0 16px;
}

.product-detail__dimensions-item:first-child {
    padding-left: 0;
    align-items: flex-start;
}

.product-detail__dimensions-item:nth-child(2) {
    align-items: center;
}

.product-detail__dimensions-item:last-child {
    padding-right: 0;
    align-items: flex-end;
}

.product-detail__dimensions-item:not(:last-child) {
    border-right: 1px solid var(--border-dark);
}

.product-detail__dimensions-item__label {
    font-size: 14px;
    line-height: 1.5;
}

.product-detail__dimensions-item__value {
    font-size: 14px;
    line-height: 1.5;
    font-family: var(--font-headings);
}

.product-detail__quantity {
    margin-top: 28px;
    font-size: 16px;
    line-height: 1.4;
}

.product-detail__counter {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 46px 1fr 46px;
    background-color: var(--light-gray);
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.product-detail__quantity__input {
    text-align: center;
    height: 46px;
    border: none;
    background: transparent;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    color: var(--text-dark);

    -moz-appearance: textfield;
}

.product-detail__quantity__input::-webkit-outer-spin-button,
.product-detail__quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-detail__quantity__minus,
.product-detail__quantity__plus {
    height: 46px;
    font-size: 18px;
    color: var(--text-muted);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.product-detail__quantity__minus:hover,
.product-detail__quantity__plus:hover {
    color: var(--text-dark);
}

.product-detail__button-wrapper {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}